html,body{
    height: 100%;
    width: 100%;
}

.button{
    width: 5vw;
    padding: 2vw;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
}

.row{
    margin: 1vw 0;
}

.row>input{
    margin: 0;
    padding: 1vw 4vw;
    border: 2px solid black;
    border-radius: 5px;
}